<div class="footer">
  <div class="footer-copyright text-center">
    L’abus d’alcool est dangereux pour la santé. À consommer avec modération. <br>
    Made with <i class="fas fa-glass-martini-alt"></i> at Le Wagon
  </div>
</div>
